version: "3.8"
services:
  backend:
    image: ghcr.io/phoenixofforce/storygame-service:${BACKEND_TAG:-latest}
    restart: unless-stopped
    ports:
      - ${BACKEND_PORT:-8080}:8080

  frontend:
    image: ghcr.io/phoenixofforce/storygame-ui:${FRONTEND_TAG:-latest}
    restart: unless-stopped
    environment:
      - api=ws://${BACKEND_URL:-localhost:8080}
      - rest=http://${BACKEND_URL:-localhost:8080}
    ports:
      - ${FRONTEND_PORT:-8000}:80
