@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input,
textarea {
  @apply w-96 rounded-xl border-2 border-solid border-slate-300 px-3 py-1;
  @apply focus:rounded-2xl;
  @apply disabled:text-slate-400
}

button {
  @apply font-medium rounded-3xl border-2 border-solid border-slate-300 bg-slate-100 px-4 py-1 text-slate-700;
  @apply disabled:font-normal disabled:border-slate-200 disabled:bg-slate-50 disabled:text-slate-300;
  @apply shadow hover:enabled:scale-105 hover:enabled:bg-slate-200;
}

button.blue {
  @apply border-blue-300 bg-blue-100 px-4 text-sky-800;
  @apply disabled:border-blue-200 disabled:bg-blue-50 disabled:text-blue-300;
  @apply hover:enabled:bg-blue-200;
}

button.green {
  @apply border-green-300 bg-green-100 px-4 text-green-800;
  @apply disabled:border-green-200 disabled:bg-green-50 disabled:text-green-400;
  @apply hover:enabled:bg-green-200;
}