@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input {
  @apply w-96 rounded-xl border-2 border-solid border-slate-300 px-3 py-1;
  @apply focus:rounded-2xl;
}

button {
  @apply rounded-3xl border-2 border-solid border-slate-300 bg-slate-100 px-4 py-1 text-slate-700;
  @apply disabled:border-slate-200 disabled:bg-slate-50 disabled:text-slate-300;
  @apply shadow hover:enabled:scale-105 hover:enabled:bg-slate-200;
}