@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-slate-700 dark:text-slate-100;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-gradient-to-tr from-sky-100 to-lime-100;
  @apply dark:from-sky-900 dark:to-purple-950;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  @apply p-0 py-2 sm:p-8;
}

input,
textarea,
div.textarea {
  @apply rounded-xl border border-solid border-slate-300 bg-white px-3 py-1 dark:border-slate-300 dark:dark:bg-slate-500;
  @apply disabled:border-slate-400 disabled:text-slate-200 dark:disabled:border-slate-400;
}

div.textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
  /*word-break: break-all;*/
  overflow: auto;
  display: inline-block;
}

/*placeholder text for textarea, TODO: fix color*/
[contentEditable="true"]:empty:not(:focus)::before {
  content: attr(placeholder);
  color: #666;
}

svg {
  display: inline;
}

button:not(.plain) {
  @apply rounded-3xl border-2 border-solid border-slate-300 bg-slate-100 px-4 py-2 font-medium text-slate-700 dark:bg-slate-600 dark:text-slate-100;
  @apply disabled:border-slate-200 disabled:bg-slate-50 disabled:font-normal disabled:text-slate-300 dark:disabled:border-slate-600 dark:disabled:text-slate-400;
  @apply enabled:shadow hover:enabled:scale-105 hover:enabled:bg-slate-200 hover:enabled:shadow-md dark:hover:enabled:bg-slate-500;
}
